


<div ng-app="Nickel" ng-init="init(this)" style="width: 100%; height: 100%;" class="bngApp nickel-interface">

    <style>

    :root {
    --main-text-color: #A1A1A1;
    --tertiary-text-color: #F27D16;
    --secondary-text-color: #202120;
    --card-color: 32, 33, 32, 95%;
    --button-color: 32, 33, 32, 80%;
    --main-container-color: 47, 53, 53, 80%;
    --secondary-container-color: 38, 43, 39, 70%;
    --main-orange-color: 242, 125, 22, 70%;
    --dropdown-color: 45, 45, 45, 95%;
    }


    .nickel-interface{
        background: transparent;
        }


    .nickel-interface .title-bar{
        font-weight: bold;
        color: var(--main-text-color);
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(var(--button-color));
        border-radius: 30px 30px 0 0;
    }
    .nickel-interface .server-info .info{
        margin-top: 10px;
        margin-left: 10px;
        font-size: 15px;
        color: var(--main-text-color);
        font-weight: bold;
    }
    .nickel-interface .main-container .box {
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        background-color: rgba(var(--secondary-container-color));

    }

    .nickel-interface .main-container {
        background-color: rgba(var(--main-container-color));
        border-radius: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        transition: 1s;
        overflow: hidden;
    }
    .nickel-interface .NKclosed {
        height: 0px !important;
        transition: 1s;
    }
    .nickel-interface .player-list{
        position: relative;
        grid-row: 1 / 4;
        grid-column: 2;
        overflow-y: scroll;
    }

    .nickel-interface .player-list > :first-child {
        margin-top: 10px;
    }

    .nickel-interface .nkplayer-button span{
        pointer-events: none;
        color: var(--main-text-color);
        align-self: center;
        margin-left: 25%;
        justify-self: left;
        overflow: hidden;
        max-width: -webkit-fill-available;
    }
    .nickel-interface .nkplayer-button{
        padding-right: 10px;
        border-radius: 10px;
        margin-top: 15px;
        display: grid;
        height: 33px;
        width: 60%;
        background-color: rgba(var(--button-color));
        overflow: hidden;
    }

    .nickel-interface .player-icon{
        border-radius: 20px;
        position: absolute;
        align-self: flex-start;
        transform: translate(-50%, -10%);
    }

    .nickel-interface .player-status{
        position: absolute;
        transform: translate(20%, 140%);
    }

    .nickel-interface .top-bar-container {
        
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;

        border-collapse: separate; 
        background-color: rgba(var(--main-container-color));
        border-radius: 15px;
        margin-bottom: 5px;
    }

    .nickel-interface .arrow-icon{
        transition: 500ms;
    }
    .nickel-interface .arrow-icon-reverse{
        transition: 500ms;
        transform: rotate(180deg);
    }
    .nickel-interface .top-bar-icon:focus{
        box-shadow: none;
        
    }
    .nickel-interface .top-bar-container img:first-child{
        margin-left: 10px;
    }
    .nickel-interface .top-bar-container div:last-child{
        margin-right: 10px;
    }

    .nickel-interface .search-icon {
        grid-column: 1;
        grid-row: 1;
        justify-self: end;
        align-self: center;
        z-index: 10;
    }
    .nickel-interface .search-container {
        display: grid;
    }

    .nickel-interface #NKsearch {
        padding-bottom: 0;
        padding-top: 0;
        border-radius: 10px;
        height: 30px;
        grid-column: 1;
        grid-row: 1;
    }

    .nickel-interface .server-info{
        border-right: rgba(var(--button-color));
        border-style: none solid none none;
        grid-row: 1;
        grid-column: 1;
    }
    .nickel-interface .box::after{
        padding-top: 20%
    }
    .nickel-interface .extensions{
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        row-gap: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: rgba(var(--button-color));
        border-radius: 10px;
        min-height: 40px;
        align-self: center;
    }
    .nickel-interface .extensions .extension{
        font-weight: bold;
        color: var(--main-text-color);
        font-size: 15px;
        margin-left: 30px;
        margin-bottom: 5px;

    }
    .nickel-interface .actual-infos{
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 15%;
        row-gap: 12%;
        align-self: center;
    }
    .nickel-interface .actual-infos div{
        display: grid;
        background-color: rgba(var(--button-color));
        border-radius: 10px;
        min-height: 30px;
        max-height: 35px;
        grid-template-rows:100%;
        width: 100%; 
    }
    .nickel-interface .actual-infos div > span {
        padding-right: 5px;
        font-size: 15px;
        grid-row: 1;
        grid-column: 1;
        margin-left: 10px;
        color: var(--main-text-color);
        align-self: center;
        justify-self: end;
    }
    .nickel-interface .button-icon{
        z-index: 200;
        position: absolute;
        align-self: flex-start;
        transform: translate(-40%, -10%);
    }
    .nickel-interface .top-left-icon{
        z-index: 200;
        position: absolute;
        align-self: flex-start;
        transform: translate(-40%, -30%);
    }
    .nickel-interface .commands{
        border-right:#202120;
        border-style: none solid none none;

        grid-row: 2/4;
        grid-column: 1;
    }
    .nickel-interface .category{
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-self: center;
    }
    .nickel-interface .category-title{
        position: relative;
        font-weight: bold;
        font-size: 20px;
        color: var(--secondary-text-color);
        display: grid;
        border-radius: 10px 10px 10px 0px;
        justify-self: center;

        grid-column: 1/3;
        background-color: rgba(var(--main-orange-color));
    }
    .nickel-interface .category-title span{
        align-self: center;
        justify-self: center;
    }

    .nickel-interface .category-title .category-line{
        top: 87%;
        transform: translate(-100%);
        position: absolute;
        width: 10px;
        border-style: solid none none solid;
        border-width: 5px;
        border-color: rgba(var(--main-orange-color));

    }
    .nickel-interface .category-content{
        padding-left: 10px;
        grid-column: 1/3;
        align-self: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .nickel-interface .command-button{
        font-weight: bold;
        color: var(--main-text-color);
        border-radius: 10px;
        margin-top: 10px;
        align-items: center;
        justify-content: center;
        display: flex;
        height: 30px;
        font-size: 15px;
        background-color: rgba(var(--button-color));
        width: 60%;
    }

    .nickel-interface .temp-input{
        grid-row: 1;
        grid-column: 1;
        width: 40%; 
        height: 50%;
        align-self: center;
        margin-left: 30%;
        justify-self: start;
    }
    .nickel-interface .temp-input:hover,
    .nickel-interface .temp-input:focus {
        width: 60%;
    }
    .nickel-interface .temp-input:hover + span,
    .nickel-interface .temp-input:focus + span{
        display: none;
    }
    .nickel-interface .time{
        grid-template-columns: 0.9fr 23px 0.2fr 23px; /* La première colonne pour l'icône, la deuxième pour l'input */
    }

    .nickel-interface .time-input{
        padding: 0;
        padding-left: 2px;
        grid-row: 1;    
        width: 100%;
        height: 50%;
        /* justify-self: center; */
        align-self: center;
    }
    .nickel-interface .time-spacer{
        grid-column: 1;
        grid-row: 1;    
        width: 100%;
    }
    .nickel-interface .gravity span{
        padding-left: 40px;
        font-size: 12px !important;
    }
    .nickel-interface .gravity-input{
        grid-column: 1;
        grid-row: 1;    
        width: 30%; 
        height: 50%;    
        align-self: center;
        margin-left: 30%;
        justify-self: start;
    }

    .nickel-interface .wind span{
        padding-left: 40px;
        font-size: 12px !important;
    }
    .nickel-interface .wind-input{
        grid-column: 1;
        grid-row: 1;    
        width: 30%; 
        height: 50%;    
        align-self: center;
        margin-left: 30%;
        justify-self: start;
    }

    .nickel-interface .meteo-input{
        display: flex;
        grid-column: 1;
        grid-row: 1;    
        max-width:50%;
        min-width: 0;
        height: 50%;    
        align-self: center;
        margin-left: 33%;
    }

    .nickel-interface .meteo-input .md-select-value {
        min-width: 0;
        width: 100%;
        padding-right: 0;
        align-self: center;
        overflow: hidden;
        padding: 0 !important;
    }

    .nickel-interface .meteo-input .md-select-value span {
        display: contents;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 12px !important;
        width: 100%;
    }

    .nickel-interface .meteo-input .md-select-icon {
        display: none;
    }


    .nickel-interface .player-card{
        z-index: 9999;
        align-self: center;
        width: 80%;
        position: absolute;
        background-color: rgba(var(--card-color));
        border-radius: 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fill,50px);
        grid-gap: 20px;
    }
    .nickel-interface .player-card .player-card-box{
        margin-right: 10px;
        position: relative;
        justify-self: end;
        width: 80%;
        border-radius: 10px;
        background-color: rgba(var(--secondary-container-color));
    }
    .nickel-interface .player-card .player-card-box:first-child{
        margin-top: 20px;    
    }
    .nickel-interface .player-card .player-card-ips{
        max-height: 70px;
    }
    .nickel-interface .player-card .player-card-ips ul{
        margin-left: 20px;
        margin-top: 0px;
        display: flex !important;
        flex-direction: column;
        padding: 0;
        max-height: 70px;
        display: block;
        overflow-y: scroll;

    }
    .nickel-interface .player-card .player-card-ips ul li{
        color: var(--main-text-color);
        font-weight: bold;
        width: fit-content;
    }
    .nickel-interface .player-card .player-card-history{
        max-height: 90px;
        margin-top: 5px;

    }
    .nickel-interface .player-card .player-card-history ul{
        margin-left: 20px;
        margin-top: 0px;
        display: flex !important;
        flex-direction: column;
        padding: 0;
        max-height: 90px;
        display: block;
        overflow-y: scroll;
    }
    .nickel-interface .player-card .player-card-history ul span{
        color: var(--tertiary-text-color);
        font-weight: bold;
    }
    .nickel-interface .player-card .player-card-history ul li{
        color: var(--main-text-color);
        font-size: 13px;
        font-weight: bold;
        width: fit-content;
    }
    .nickel-interface .player-card img{
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-60%, -20%);
    }

    .nickel-interface .actions-container{
        padding-bottom: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-self: center;
        justify-items: center;
        row-gap: 5px;
    }
    .nickel-interface .action-button{
        width: 85px !important;
        display: flex;
        justify-content: center;
        background-color: rgba(var(--main-orange-color));
        border-radius: 10px;
        min-height: 30px;
        max-height: 35px;
        grid-template-rows:100%;
        width: 100%; 
    }
    .nickel-interface .action-button span{
        font-size: 15px;
        color: var(--secondary-text-color);
        font-weight: bold;
        align-self: center;
    }
    .nickel-interface .roles-button{
        border-radius: 10px;
        padding:3px;
        background-color: rgba(var(--main-orange-color));
        width: fit-content;
        height: fit-content;
        justify-self: start;
        align-self: center;
        margin-left: 10px;
    }
    .nickel-interface .roles-button span{
        pointer-events: none;
    }

    .nickel-interface .anim-button{
        transition: 500ms;
        overflow: visible;
    }

    .nickel-interface .anim-button:hover{
        cursor: pointer;
        opacity: 0.9;
        transform: scale(1.1) !important;
        transition: 500ms;
    }



    .nickel-interface .roles-button span{
        font-size: 15px;
        color: var(--secondary-text-color);
        font-weight: bold;
        align-self: center;
    }


    .nickel-interface .remove-roles-content{
        display: grid;
        row-gap: 5px;
    }

    .nickel-interface .secondary-box{
        display: flex;
        flex-direction: column;
        border-width: 2px;
        z-index: 10000;
        position: absolute;
        background-color: rgba(var(--card-color));
        border-color: rgba(var(--main-orange-color));
        border-style: solid;
        border-radius: 20px;
        padding: 10px;
    }

    .nickel-interface .remove-roles-box{
        display: grid;
        position: relative;
        grid-row: 1;
    }
    .nickel-interface .secondary-box .role-to-remove{
        width: 130px;
        max-width: 130px;
        justify-items: center;
        display: grid;
        grid-template-columns: 1fr 20px;
        grid-template-rows: 1fr;
        font-weight: 500;
        border-radius: 10px;
        padding: 3px;
        font-size: 15px;
        background-color: rgba(var(--secondary-container-color));
        color: var(--tertiary-text-color);
    }
    .nickel-interface .roles-wrapper{
        position: absolute;
        display: grid;
        margin-top: 10px;
        margin-left: 60px;
    }
    .nickel-interface .remove-icon{
        grid-column: 2;
        grid-row: 1;
        justify-self: flex-end;
        position: unset !important;
        top: unset !important;
        left: unset !important;
        transform: unset !important;
    }
    .nickel-interface .add-icon{
        width: fit-content;
        margin: auto;
        padding-top: 5px;
        position: unset !important;
        top: unset !important;
        left: unset !important;
        transform: unset !important;
    }
    .nickel-interface .add-roles-box{
        justify-self: center;
        grid-row: 2 / auto;
        display: grid;
        row-gap: 5px;
    }
    .nickel-interface .add-roles-box .role-to-add{
        width: 110px;
        max-width: 110px;
        display: grid;
        justify-items: center;
        font-weight: 500;
        border-radius: 10px;
        padding: 3px;
        font-size: 15px;
        background-color: rgba(var(--secondary-container-color));
        color: var(--tertiary-text-color);
    }

    .nickel-interface .usercommand-inputs{
        z-index: 10000;
        padding: 10px;
        border-radius: 10px;
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 80%;
        background-color: rgba(var(--card-color));
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .nickel-interface .usercommand-arg{
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
    }
    .nickel-interface .usercommand-inputs button{
        align-self: center;
        width: fit-content;
    }

    md-select-menu > md-content{
        background-color: rgba(var(--dropdown-color)) !important;
    }

    .nickel-interface .wind-input:hover,
    .nickel-interface .wind-input:focus{
        width: 60%;
    }
    .nickel-interface .wind-input:hover + span,
    .nickel-interface .wind-input:focus + span {
        display: none;
    }

    .nickel-interface .gravity-input:hover,
    .nickel-interface .gravity-input:focus{
        width: 60%;
    }
    .nickel-interface .gravity-input:hover + span,
    .nickel-interface .gravity-input:focus + span {
        display: none;

    }
    .nickel-interface input[type="number"] {
    -webkit-appearance: textfield;
        -moz-appearance: textfield;
            appearance: textfield;
    }
    .nickel-interface input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    }
    </style>
    <div style="width: 100%; height: 40px;" class="top-bar-container">
        <img src="/ui/modules/apps/Nickel/icons/settings_icon.svg" alt="settings icon" class="top-bar-icon">
        <img ng-click="resizeApp()" src="/ui/modules/apps/Nickel/icons/arrow_icon.svg" alt="arrow icon" class="top-bar-icon arrow-icon">
        
        <div class="search-container">
            <input type="search" name="search" id="NKsearch" ng-model="search" placeholder="Search" class="search-input">
            <img src="/ui/modules/apps/Nickel/icons/search_icon.svg" alt="search icon" class="search-icon">
        </div>
    </div>

    <div class="usercommand-inputs" ng-hide="hideUserCommandInputs" click-outside="hideUserCommandInputs = true" click-outside-exceptions="action-button">
        <div class="usercommand-arg" ng-repeat="arg in selectedUserCommand.args.slice(1)">
          <label>{{arg.name}} ({{arg.type}}):</label>
          <input type="text" ng-model="usercommandArgs[arg.name]" ng-if="arg.type === 'string'" />
          <!-- Ajoutez d'autres types d'arguments ici -->
        </div>
        <button ng-click="sendUserCommand(selectedUserCommand.name)">Send Command</button>
    </div>

    <div style="width: 100%; height: 90%;" class="main-container">

        <div style="width: 100%; height: 100%;" class="player-list box">

    
            <div class="player-card" ng-hide="hideCard" click-outside="hideCard = true" click-outside-exceptions="nkplayer-button, action-button, roles-button, remove-roles-box, add-roles-box">

                <div class="roles-button anim-button" ng-click="showRoles()">
                    <span>Roles</span>
                </div>

                <div class="roles-wrapper" ng-hide="hideRoles" click-outside="hideRoles = true" click-outside-exceptions="roles-button">
                    <div class="secondary-box remove-roles-box">    <!-- get roles from server -->
                        <div class="remove-roles-content">

                            <span class="role-to-remove" ng-repeat="role in nkplayers[playerIndex].roles track by role.name | orderBy: 'permlvl': true">
                                <img src="/ui/modules/apps/Nickel/icons/remove_icon.svg" alt="remove icon" class="remove-icon anim-button" ng-click="removeRole(role.name, nkplayers[playerIndex].name)">

                                {{role.name}}
                            </span>
                            <img src="/ui/modules/apps/Nickel/icons/add_icon.svg" alt="add icon" class="add-icon anim-button" ng-click="showAddRoles()">
                        </div>
                        <div class="secondary-box add-roles-box" ng-hide="hideAddRoles" click-outside="hideAddRoles = true" click-outside-exceptions="add-icon">   <!-- add spacing between -->
                            <span class="role-to-add anim-button" ng-repeat="nkrole in nkroles track by nkrole.roleName" ng-if="!roleExists(nkrole.roleName, nkplayers[playerIndex].roles)" ng-click="addRole(nkrole.roleName, nkplayers[playerIndex].name)">
                                {{nkrole.roleName}}
                            </span>
                        </div>
                    </div>
                </div>


                <div class="player-card-ips player-card-box"> <!-- get ips from server -->
                    <img src="/ui/modules/apps/Nickel/icons/loc_icon.svg" alt="location icon" class="location-icon">
                    <ul>
                        <li ng-repeat="ip in nkplayers[playerIndex].ips | unique track by $index">
                            {{ip}}
                        </li>
                    </ul>
                </div>

                <div class="player-card-history player-card-box"> <!-- get punishments history from server -->
                    <img src="/ui/modules/apps/Nickel/icons/history_icon.svg" alt="history icon" class="history-icon">
                    <ul>
                        <span>Actual</span>
                        <li>
                            Muted for 1 hour
                        </li>

                        <span>Past</span>
                        <li>
                            banned for 1 week
                        </li>
                    </ul>
                </div>
               
                <!-- ng-click="sendCommand(command)" -->
                <div class="actions-container">
                    <div class="action-button anim-button" ng-click="selectUserCommand(index)" ng-repeat="(index, command) in user_commands">
                        <span>{{index}}</span>
                    </div>
                </div>
            </div>

            <div class="category" style="width: 90%;" ng-repeat="nkrole in nkroles track by nkrole.roleName" hide-category-if-empty>
                <div class="category-title" style="width: 80%; height: 35px;">
                    <span>{{nkrole.roleName}}</span>
                    <div class="category-line">
                    </div>
                </div>

                <div class="category-content" style="width: 90%">

                    <div data-bmpid="{{nkplayer.beammpid}}" class="nkplayer-button anim-button" ng-repeat="(index, nkplayer) in nkplayers track by nkplayer.beammpid" ng-if="getHighestRole(nkplayer.roles).name == nkrole.roleName" ng-click="showPlayerCard($event,index)">
                        <img ng-src="{{imgSafe(nkplayer.b64img)}}" alt="icon" class="player-icon">

                        
                        <img ng-src="/ui/modules/apps/Nickel/icons/{{ nkplayer.online ? 'Online' : 'Offline' }}_icon.svg" alt="{{ nkplayer.online ? 'Online' : 'Offline' }}" class="player-status">
                        <span>{{nkplayer.name}}</span>



                    </div>
    
                </div>
    

            </div>
           

            
        </div>

        <div style="width: 100%; height: fit-content;" class="server-info box">
            <div class="title-bar" style="width: 100%; height: 40px;">
                    <span>Server infos</span>
            </div>

            <span class="info">Name : BeammpServer</span>
            <span class="info">Version : {{nkserver_version}}</span>

            <div class="extensions", style="width: 80%;">
                <img src="/ui/modules/apps/Nickel/icons/Ext_icon.svg" alt="extension icon" class="top-left-icon">
                <span class="extension">Economy</span>

                <div>
                    <span></span>
                </div>
                
            </div>

            <div class="actual-infos", style="width: 80%;">
                <div class="temp">
                    <img src="/ui/modules/apps/Nickel/icons/Temp_icon.svg" alt="icon" class="button-icon">
                    <input class="temp-input" type="number" name="input" ng-model="game_temp" ng-disabled="!canEditEnvironment" required><span>°C</span>
                </div>
                <div class="time">
                    <img src="/ui/modules/apps/Nickel/icons/Time_icon.svg" alt="icon" class="button-icon">
                    <div class="time-spacer"></div>
                    <input class="time-input h-input" style="justify-self: end;" type="text" name="input" ng-model="game_time[0]" min="0" max="23" ng-disabled="!canEditEnvironment" required>
                    <span style="grid-column: 3; margin: 0; padding:0; justify-self: start;">h</span>
                    <input class="time-input m-input" type="text" name="input" ng-model="game_time[1]" min="0" max="59" ng-disabled="!canEditEnvironment" required> <!-- onchange="if(parseInt(this.value,10)<10 && this.value.length < 2)this.value='0'+this.value;if(this.value == '')this.value='00'" -->
                </div>

                <div class="gravity">
                    <img src="/ui/modules/apps/Nickel/icons/Gravity_icon.svg" alt="icon" class="button-icon">
                    <input class="gravity-input" type="text" name="input" ng-model="game_gravity" ng-disabled="!canEditEnvironment" required>
                    <span>m/s²</span>
                </div>
                <div class="wind">
                    <img src="/ui/modules/apps/Nickel/icons/Wind_icon.svg" alt="icon" class="button-icon">
                    <input class="wind-input" type="text" name="input" ng-model="game_wind" ng-disabled="!canEditEnvironment" required>
                    <span>mph</span>
                </div>
                <div class="meteo">
                    <img src="/ui/modules/apps/Nickel/icons/Meteo_icon.svg" alt="icon" class="button-icon">

                
                    <md-select ng-model="game_meteo" ng-init="hideSelectIcon()" class="meteo-input" ng-disabled="!canEditEnvironment">
                        <md-select-value>{{ game_meteo }}</md-select-value>
                        <md-option ng-value="preset" ng-repeat="preset in weatherPresets">{{ preset }}</md-option>
                    </md-select>
                </div>
            </div>


        </div>

        <div style="width: 100%; min-height: fit-content; height: 100%;" class="commands box">
            <div class="title-bar" style="width: 100%; height: 40px;">
                <span>Commands</span>
            </div>

            <div class="category" style="width: 90%;">
                <div class="category-title" style="width: 80%; height: 35px;">
                    <span>Nickel</span>
                    <div class="category-line">
                    </div>
                </div>


                <div class="category-content" style="width: 90%">
                    <div class="command-button">
                        <span>Broadcast</span>
                    </div>
    
                    <div class="command-button">
                        <span>Countdown</span>
                    </div>
    
    
                </div>
    

            </div>
           
        </div>
    </div>
</div>